package component

import "fmt"

func InterpolateGreetings(name string) string {
	return fmt.Sprintf("Hello, %s", name)
}

templ Hello(name string) {
	<head>
		<link rel="stylesheet" type="text/css" href="assets/css/styles.css"/>
	</head>
	<body>
		<div class="text-5xl text-red">{ InterpolateGreetings(name) }.3433</div>
	</body>
}
