package component

import "fmt"

func InterpolateGreetings(name string) string {
	return fmt.Sprintf("Hello, %s", name)
}

templ Hello(name string) {
	<div class="">{ InterpolateGreetings(name) }</div>
}
