package ui

import "hypermedia/internal/models"
import "fmt"
import "github.com/google/uuid"
import "time"

templ PaymentPlans(plans []models.PaymentPlan, props PaymentPlanFormProps) {
	@SidebarLayout("Планы сборов", props.houseID) {
		@templ.Fragment("partial") {
			<div class="flex flex-col gap-4">
				@PaymentPlanControls(props)
				<!-- <title>Планы сборов</title> -->
				if len(plans) > 0 {
					@PaymentPlanTable(plans)
				} else {
					@PaymentPlanTableSkeleton()
				}
			</div>
		}
	}
}

templ PaymentPlanControls(props PaymentPlanFormProps) {
	<div x-data class="flex justify-center">
		<button class="btn btn-neutral btn-outline" @click="$refs.modal.showModal()">Создание планов сборов</button>
		<dialog x-ref="modal" class="modal" id="controls-modal">
			<div class="modal-box flex flex-col gap-8 py-8 justify-center items-center">
				<button @click="$refs.modal.close()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
				@CreatePaymentPlanForm(props)
				<button @click="$refs.modal.close()" class="btn btn-neutral self-start btn-outline">Закрыть</button>
			</div>
		</dialog>
	</div>
}

type PaymentPlanFormProps struct {
	houseID uuid.UUID
	periods []models.Period
}

templ CreatePaymentPlanForm(props PaymentPlanFormProps) {
	<div class="flex flex-col gap-2">
		<h2 class="text-center text-xl font-bold">Создание плана сборов</h2>
		<form hx-post={ "/houses/" + props.houseID.String() + "/payment-plans" } hx-push-url="true">
			<div class="flex flex-col gap-4">
				<div x-data="{period: ''}" class="flex gap-4 items-center justify-center">
					<select @change="period = $event.target.value" id="period-select" name="period" class="select">
						<option disabled selected>Период</option>
						<option value="monthly">Ежемесячно</option>
						<option value="bi-weekly">Раз в две недели</option>
					</select>
					<select
						id="period-value-select"
						name="period_id"
						x-show="period == 'monthly'"
						class="select"
						id="monthly-values"
					>
						<option selected disabled></option>
						for _, p := range props.periods {
							if p.Group == "monthly" {
								<option value={ p.PeriodID.String() }>{ p.Description }</option>
							}
						}
						<!-- <option value="fdom">Первый день месяца</option> -->
						<!-- <option value="ldom">Последний день месяца</option> -->
					</select>
				</div>
				<input id="payment-amount-input" name="amount" class="input" placeholder="Сумма"/>
			</div>
			<button class="btn btn-primary mt-12 ml-auto block">Создать</button>
		</form>
	</div>
}

func paymentPlanTableTrClass(t *time.Time) string {
	if t == nil {
		return "outline-2 rounded-field outline-primary/60"
	}
	return ""

}

templ PaymentPlanTable(plans []models.PaymentPlan) {
	<table class="table rounder-box shadow-md w-128">
		<thead>
			<tr>
				<th>Период взносов</th>
				<th>С</th>
				<th>По</th>
				<th>Сумма</th>
			</tr>
		</thead>
		<tbody>
			for _, p := range plans {
				<tr class={ paymentPlanTableTrClass(p.DateTo) }>
					<td>{ p.Period.Description }</td>
					<td>{ p.DateFrom.Format("02.01.2006") }</td>
					if p.DateTo != nil {
						<td>{ p.DateTo.Format("02.01.2006") }</td>
					} else {
						<td></td>
						<!-- <td><span class="badge badge-md badge-primary">Активный</span></td> -->
					}
					<td>{ fmt.Sprintf("%.2f", p.MonthlyAmount) }</td>
				</tr>
			}
		</tbody>
	</table>
}

templ PaymentPlanTableSkeleton() {
	<div class="flex min-w-64 min-h-64 items-center justify-center rounded-box bg-base-200 shadow-md">
		<p class="text-lg">Создайте план</p>
	</div>
}
