package ui

import "hypermedia/internal/ui/components/sidebar"

import "github.com/google/uuid"

templ SidebarLayout(title string, houseID uuid.UUID) {
	@BaseLayout(title) {
		@sidebar.Sidebar(houseID) {
			{ children... }
		}
	}
}
